.btn {
    margin: 10px;
    font-size: 16pt;
    width: 340px;
    height: 120px;
    cursor: pointer;
    border-radius: 14px;
    border: none;
    background: linear-gradient(#d3d3d3,#9a9a9a);
    box-shadow: 2px 1px 10px #7a7a7a;
    transition: 0.3s;
}

.btn:active {
    background: linear-gradient(#9a9a9a,#d3d3d3);
    box-shadow: 2px 1px 20px #7a7a7a;
}